<form method="post" id="new_{{ collection_hook }}" action="/{{ db_hook }}/{{ collection_hook }}" enctype="application/json" onsubmit="assign_hidden_inputs()">
    <div>
        <h2>User Information</h2>
        <p>   
            <label for="priority">Priority:</label><br>
            <select id="priority" name="priority">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="emergency">Emergency</option>
            </select>
        </p>
        <p>
            <label for="location">Location:</label><br>
            <select id="location" name="location">
                <option value="GPW">GPW</option>
                <option value="SPW">SPW</option>
                <option value="RSM">RSM</option>
                <option value="GV">GV</option>
            </select>
        </p>
        <p>
            <label for="first_name">First Name:</label><br>
            <input type="text" id="first_name" name="first_name">
        </p>
        <p>
            <label for="last_name">Last Name:</label><br>
            <input type="text" id="last_name" name="last_name">
        </p>
        <p>
            <label for="phone">Contact Phone:</label><br>
            <input type="phone" id="phone" name="phone">
        </p>
        <p>
            <label for="email">Contact Email:</label><br>
            <input type="email" id="email" name="email">
        </p>
        <p>
            <label for="supervisor">Manager / Supervisor:</label><br>
            <input type="text" id="supervisor" name="supervisor">
        </p>
    </div>
    <div>
        <h2>Request</h2>
        <p>
            <label for="title">Request Title:</label><br>
            <input type="text" id="title" name="title">
        </p> 
        <p>
            <label for="details">Description / Details:</label><br>
            <textarea id="details" name="details" style="height: 250px; width: 500px"></textarea>
            <input type="hidden" id="date" name="date" value="">
            <input type="hidden" id="submit_time" name="submit_time" value="">
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </div>
    <script>
        function assign_hidden_inputs(){
            submit_timeElement = document.getElementById( 'submit_time' );
            submit_timeElement.value = Get_Time(  );
            dateEvent = document.getElementById( 'date' );
            dateEvent.value = Get_Day(  );

        }

        function Get_Day(  ){
            currentDate = new Date(  );
            month = currentDate.getMonth(  ) + 1; // Add 1 because getMonth() returns a 0-based index
            day = currentDate.getDate(  );
            year = currentDate.getFullYear(  );
            dateString = `${ month }/${ day }/${ year }`;
            return dateString
        }

        function Get_Time(  ){
            currentTime = new Date(  );
            let hours = currentTime.getHours(  );
            minutes = currentTime.getMinutes(  );
            seconds = currentTime.getSeconds(  );

            let ampm = "AM";
            if (hours >= 12) {
                hours -= 12;
                ampm = "PM";
            }
            if (hours === 0) {
                hours = 12;
            }
            if (minutes < 10) {
                minutes = `0${ minutes }`;
            }

            timeString = `${ hours }:${ minutes }:${ seconds } ${ampm}`;
            return timeString   
        }
      </script>
  </form>